@import '../../scss/variables';
@import '../../scss/general';
.register{
  background-size: cover;
    .text{
      h2{
        font-family:serif;
        color:$primaryColor;
      }

    }
   .form-row{
      input[type="submit"]{
        font-family:arial;
        font-size:20px;
      }
      span{
        font-size:20px;
      }
      ::placeholder {
        color:#a5a5a5fc;
      }

      input{
        padding:10px;
        font-size:20px;
        font-family: arial;
      }
      
      .form-control {
        color:black;
      }
  }
    .line{
      border-color:#000000;

    }
}
