<!-- nav bar -->
<section class="bink-bg">
  <nav class=" container navbar navbar-light  ">
    <h5 class="font-weight-bold navbar-brand mb-0">
        <a routerLink="" class=" link kaushan text-white">Avii</a>
    </h5>
    <div ngbDropdown class="d-inline-block">
      <a routerLink="" class="link font-weight-bold mr-3 text-white ">Home</a>
       <a class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
       <img class="cart-img" src="../../assets/images/shopping-cart.png">
       </a>

       <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

          <div class="text-center mt-2">
           <button class="dropdown-item">
             <a class="link" routerLink="cart">My products</a>
           </button>
          </div>
        <hr>
         <div class="text-center mt-2">
          <button class="dropdown-item">
            <a class="link" routerLink="form">Submit Order</a>
          </button>
         </div>

        </div>

      <div ngbDropdown class="d-inline-block">
        <a class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
          <img class="user-img" src="../../assets/images/user.jpg">
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">Edit/Veiw profile</button>
          <button class="dropdown-item">Sign Out</button>
        </div>
      </div>
    </div>
</nav>
</section>

<router-outlet></router-outlet>
